* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #f4f4f4;
  color: #333;
}

.header {
  background: #111;
  color: white;
  padding: 15px 0;
}

.header .container {
  width: 90%;
  max-width: 1100px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
}

.hero {
  text-align: center;
  padding: 80px 20px;
  background: linear-gradient(135deg, #000, #222);
  color: white;
}

.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 25px;
  background: #333333;
  color: white;
  text-decoration: none;
  border-radius: 6px;
}

.servicos-home {
  padding: 60px 20px;
  text-align: center;
}

.cards {
  display: flex;
  gap: 20px;
  margin-top: 30px;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  background: white;
  padding: 25px;
  width: 300px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.footer {
  background: #111;
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: 40px;
}

/* RESPONSIVO */
@media (max-width: 768px) {
  .header .container {
    flex-direction: column;
  }

  nav {
    margin-top: 10px;
  }

  .cards {
    flex-direction: column;
    align-items: center;
  }
}


.header {
  background: #111;
  color: white;
  padding: 15px 0;
}

.container-header {
  width: 90%;
  max-width: 1100px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-direita {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-header {
  width: 100px;
}

.textos-header h1 {
  font-size: 20px;
  margin: 0;
}

.localizacao {
  font-size: 14px;
  opacity: 0.8;
}


@media (max-width: 768px) {
  .container-header {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  nav {
    display: flex;
    gap: 15px;
  }
}

 /* BOTÕES DE CONTATO */
.btn-fixo {
  display: inline-block;
  padding: 14px 22px;
  color: #fff;
  text-decoration: none;
  border-radius: 50px;
  font-weight: bold;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}


.btn-fixo.whatsapp {
  background: #ffffff;
}

.btn-fixo.whatsapp:hover {
  background: #a8a8a8;
}

.btn-fixo.instagram {
  background: #ffffff;
}

.btn-fixo.instagram:hover {
  background: #a8a8a8;
}

.btn-fixo.gmail {
  background: #ffffff;
}

.btn-fixo.gmail:hover {
  background: #a8a8a8;
} 

/* Ajustar tamanho dos botões */
.btn-fixo img {
  width: 30px;
  height: 30px;
}

/* CSS DAS PÁGINAS INTERNAS */
.pagina-interna {
  max-width: 900px;
  margin: 60px auto;
  padding: 0 20px;
}

.pagina-interna h1 {
  text-align: center;
  margin-bottom: 40px;
}

.pagina-interna h2 {
  margin-top: 30px;
  font-size: 18px;
}

.pagina-interna p {
  margin-top: 10px;
  line-height: 1.6;
  color: #555;
}

/* PARTE DO FAQ */
.faq-item {
  margin-bottom: 15px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 3px 8px rgba(0,0,0,0.1);
}

.faq-pergunta {
  width: 100%;
  background: #333333;
  color: white;
  padding: 15px;
  text-align: left;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.faq-resposta {
  display: none;
  background: white;
  padding: 15px;
}

/* MELHORIAS GLOBAIS */
section {
  padding: 60px 20px;
}

h2 {
  margin-bottom: 20px;
}

ul {
  margin-left: 20px;
  line-height: 1.6;
}

.todos_servicos section {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
  box-shadow: 0 3px 8px rgba(0,0,0,0.08);
}

/*Mudar cor do botão da página ativa*/
header nav a.ativo {
  background: #818181;
  color: #fff;
  border-radius: 6px;
  border-bottom: 3px solid #ffffff;
}

/* AJUSTE DO MENU HEADER */
header nav {
  display: flex;
  gap: 20px;
}

header nav a {
  text-decoration: none;
  font-weight: bold;
  color: #bdbdbd;
  padding: 6px 10px;
  transition: 0.3s;
}

/* AJUSTE NO MOBILE */
@media (max-width: 768px) {

  .container-header {
    flex-direction: column;
    align-items: center;
  }

  header nav {
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
  }

  header nav a {
    padding: 8px 12px;
  }

}


/* CSS DA PAGINA PROMOS.HTML */

.promo-container {
  max-width: 900px;
  margin: auto;
  padding: 30px 20px;
  font-family: Arial, sans-serif;
  color: #000000;
}

.promo-header {
  text-align: center;
  margin-bottom: 30px;
}

.promo-header h1 {
  font-size: 32px;
  color: #ffa600;
}

.promo-header h2 {
  font-size: 20px;
  color: #000000;
  margin-bottom: 10px;
}

.promo-steps .steps {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.step {
  display: flex;
  align-items: center;
  gap: 10px;
  background: rgba(0, 0, 0, 0.20);
  padding: 10px;
  border-radius: 8px;
}

.step span {
  background: #0b9804;
  color: #000;
  font-weight: bold;
  padding: 8px 12px;
  border-radius: 6px;
}

.promo-rewards {
  display: flex;
  gap: 15px;
  margin: 30px 0;
  flex-wrap: wrap;
}

.reward {
  flex: 1;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.reward.you {
  background: linear-gradient(135deg, #004aad, #007bff);
}

.reward.friend {
  background: linear-gradient(135deg, #0a7d3b, #28a745);
}

.reward .big {
  font-size: 28px;
  font-weight: bold;
  margin: 10px 0;
}

.promo-rules ul {
  list-style: none;
  padding: 0;
}

.promo-rules li {
  margin: 5px 0;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.services-list span {
  background: rgba(255,255,255,0.08);
  padding: 8px 12px;
  border-radius: 6px;
}

.promo-cta {
  text-align: center;
  margin-top: 30px;
}

.promo-cta a {
  display: inline-block;
  background: #2fff00;
  color: #000;
  padding: 12px 20px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  margin-bottom: 10px;
}
/* FIM */

/* AJUSTE DO ESPAÇAMENTO DOS TEXTOS */

.promo-extra {
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 1.6;
}

.promo-rules {
  margin-top: 20px;
  margin-bottom: 25px;
}

.promo-rules ul {
  margin-top: 10px;
}

.promo-rules li {
  margin-bottom: 10px;
  line-height: 1.6;
}

.promo-services {
  margin-top: 25px;
  margin-bottom: 20px;
}

.services-list {
  margin-top: 10px;
  gap: 15px;
}

.promo-cta {
  margin-top: 30px;
}

.promo-cta p {
  margin-top: 10px;
  line-height: 1.6;
}

.promo-container {
  line-height: 1.5;
}

.promo-rules li::before {
  margin-right: 8px;
}
/* FIM */


/* AJUSTE DO MENU SUPERIOR NO MOBILE */

/* BOTÃO */
.menu-toggle {
  display: none;
  width: 100%;
  padding: 12px;
  background: #111;
  color: #fff;
  border: none;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
}

/* MOBILE */
@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }

  nav {
    max-height: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 8px;
    transition: max-height 0.4s ease;
  }

  nav.ativo {
    max-height: 500px; /* espaço suficiente pro menu abrir */
  }

  nav a {
    background: #111;
    color: #fff;
    padding: 12px;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
  }

  nav a.ativo {
    background: #ccc;
    color: #000;
    font-weight: bold;
  }
}
/* FIM */


/* AJUSTE DE TEXTO DA PROMOÇÃO */

.promo-services {

  font-size: 19px;
}
/* FIM */


